<div>
  <label for={{name}}>{{label}}</label>
  <input type="{{type}}" name="{{name}}" id="{{name}}" value="{{value}}">
  {{#if errorMessage}}
    <div class="{{styles.inputError}}">{{errorMessage}}</div>
  {{/if}}
</div>