<div class={{styles.layout}}>
  <form class={{styles.form}} action="/signup" method="post">
    <h1>Регистрация</h1>
    <ul>
      <li>
        {{{emailInput}}}
      </li>
      <li>
        {{{loginInput}}}
      </li>
      <li>
        {{{firstNameInput}}}
      </li>
      <li>
        {{{secondNameInput}}}
      </li>
      <li>
        {{{phoneInput}}}
      </li>
      <li>
        {{{passwordInput}}}
      </li>
      <li>
        <label for='anotherpassword'>Пароль (еще раз)</label>
        <input type="password" name="password" id='anotherpassword'>
      </li>
      <li>
        <button class={{styles.buttonDefault}} type="submit" name="submit">Зарегистрироваться</button>
      </li>
    </ul>
        <a class={{styles.button}} href='/login'>Войти</a>
  </form>
</div>