{{{ header }}}
<div class={{styles.layout}}>
  <aside class={{styles.sideContainer}}><a href='/user' class={{styles.backButton}}>&larr;</a></aside>
  <div class={{styles.container}}>
    <div class={{styles.userinfocontainer}}>
      <form class={{styles.form}} action="/signup" method="post">
        <ul>
          <li>
            <label for='oldPassword'>Старый пароль</label>
            <input type="password" name="oldPassword" id='oldPassword'>
          </li>
          <li>
            <label for='newPassword'>Новый пароль</label>
            <input type="text" name="newPassword" id='newPassword'>
          </li>
          <li>
            <label for='passwordAgain'>Повторите пароль</label>
            <input type="text" name="passwordAgain" id='passwordAgain'>
          </li>
          <li>
            <button class={{styles.buttonDefault}} type="submit" name="submit">Сохранить</button>
          </li>
        </ul>
      </form>
  </div>
</div>