<nav class="{{styles.header}}">
  <a class="{{styles.headerButton}}" href='/'>Home</a>
  <a class="{{styles.headerButton}}"  href='/signup'>Sign up</a>
  <a class="{{styles.headerButton}}"  href='/login'>Log in</a>
  <a class="{{styles.headerButton}}"  href='/user'>User</a>
  <a class="{{styles.headerButton}}" href='/500'>500</a>
  <a class="{{styles.buttonBlocked}}"  href='/chat'>Chat</a>
</nav>