<nav class={{styles.header}}>
  <a class={{styles.button}} href='/'>Home</a>
  <a class={{styles.button}}  href='/signup'>Sign up</a>
  <a class={{styles.button}}  href='/login'>Log in</a>
  <a class={{styles.button}}  href='/user'>User</a>
  <a class={{styles.button}} href='/500'>500</a>
  <a class={{styles.buttonBlocked}}  href='/chat'>Chat</a>
</nav>