{{> header}}
<div class={{styles.layout}}>
  <aside class={{styles.sideContainer}}><a href='/' class={{styles.backButton}}>&larr;</a></aside>
  <div class={{styles.container}}>
    <div class={{styles.avatar}}></div>
    <div class={{styles.name}}>Даниил</div>
    <div class={{styles.userinfocontainer}}>
      <div class={{styles.userinfo}}>
        <div class={{styles.placeholder}}>Почта</div>
        <div class={{styles.value}}>pochta@yandex.ru</div>
      </div>
      <div class={{styles.userinfo}}>
        <div class={{styles.placeholder}}>Логин</div>
        <div class={{styles.value}}>de.fadeev</div>
      </div>
      <div class={{styles.userinfo}}>
        <div class={{styles.placeholder}}>Имя</div>
        <div class={{styles.value}}>Даниил</div>
      </div>
      <div class={{styles.userinfo}}>
        <div class={{styles.placeholder}}>Фамилия</div>
        <div class={{styles.value}}>Фадеев</div>
      </div>
      <div class={{styles.userinfo}}>
        <div class={{styles.placeholder}}>Имя в чате</div>
        <div class={{styles.value}}>Даня</div>
      </div>
      <div class={{styles.userinfo}}>
        <div class={{styles.placeholder}}>Телефон</div>
        <div class={{styles.value}}>+7 (916) 818-28-28</div>
      </div>
    </div>
    <div class={{styles.buttons}}>
      <a href='/changedata' class={{styles.button}}>Изменить данные</a>
      <a href='/changepassword' class={{styles.button}}>Изменить пароль</a>
      <a href='/logout' class={{styles.buttonRed}}>Выйти</a>
    </div>
  </div>
</div>